.image-gox-box {
  color: #fdfdfd;
  height: 82vh;
  width: 72vw;
  min-height: 200px;
  min-width: 300px;
  margin-left: 2vw;
  background: #ff6a47;
  font-family: Arial;
}

.ImageElement{
  height: 100px;
  width: 100px;
}

.ImageBox{
  height: 100px;
  width: 100px;
}
