.ImageElement {
  height: 200px;
  display: flex;


}

.ImageBox {
  margin: 10px;
  background: #333333;
  min-height: 300px;
  border-radius: 5px;
}

.roverNameParagraph{
  width: 5vw;
  padding: 10px;
}

.image-gox-box {
  color: #fdfdfd;
  height: 82vh;
  width: 72vw;
  min-height: 200px;
  min-width: 300px;
  margin-left: 2vw;
  background: #ff6a47;
  font-family: Arial;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.image-gox-box::-webkit-scrollbar {
  width: 0px;
}

.image-gox-box::-webkit-scrollbar-thumb {
  background-color: transparent;
}
