<body>
<div class="topBar"><h1 class="topBarText">Marsrover Images</h1></div>
<app-such-button></app-such-button>
<h2>Hi</h2>
<p>
  Entdecke die faszinierende Welt des Mars durch die Linse der NASA Marsrover. Unser Bildarchiv bietet dir die
  Möglichkeit, nach beeindruckenden Aufnahmen des Roten Planeten zu suchen und sie zu erkunden.
</p>
<h3>
  Mars rover
</h3>
<p>
  Die Lander der sowjetischen Raumsonden Mars 2 und Mars 3 waren mit Mars-Rovern vom Typ PROP-M ausgerüstet. Die Landung
  von Mars 2 misslang am 27. November 1971, der Lander stürzte auf die Mars-Oberfläche. Die Landung von Mars 3 am 2.
  Dezember 1971 glückte, jedoch brach der Funkkontakt nach wenigen Sekunden ab, so dass auch hier der Rover nicht zum
  Einsatz kam.
  <br><br>

  Sojourner, der erste erfolgreiche Mars-Rover, arbeitete im Rahmen des NASA-Programms Mars Pathfinder von 4. Juli bis
  27. September 1997.
  Spirit und der baugleiche Mars-Rover Opportunity landeten im Januar 2004 auf dem Mars. Vom 22. März 2010 an konnte
  kein Kontakt mehr zum Rover Spirit hergestellt werden, weshalb die NASA am 25. Mai 2011 die Kontaktversuche
  einstellte. Dennoch ist der sechs Jahre dauernde Einsatz von Spirit und die Tatsache, dass Opportunity bis Juni 2018
  voll funktionsfähig war, bemerkenswert, da die geplante Primärmissionsdauer der beiden Rover nur etwa drei Monate
  betrug.

  <br><br>
  Das Mars Science Laboratory Curiosity ist ein Mars-Rover der NASA. Der Start erfolgte am 26. November 2011. Die
  Marslandung glückte am 6. August 2012.
  Am 23. Juli 2020 startete die chinesische Sonde Tianwen-1 vom Kosmodrom Wenchang aus. Der Rover Zhurong landete am 15.
  Mai 2021 um 1 Uhr (MESZ) auf der Marsoberfläche.
  Eine Woche nach Tianwen-1 startete eine US-amerikanische Mission mit dem Rover Perseverance. Die Landung glückte am
  18. Februar 2021. Teil dieser Mission ist erstmals auch eine Helikopterdrohne, die die Rovermission unterstützt.
</p>
<img class="roverimage" src="assets/img/MarsPanorama2.png">

<app-futter></app-futter>

</body>
