<body>
<div class="topBar"><h1 class="topBarText">Marsrover Images</h1></div>
<app-such-button></app-such-button>
<h2>Hi</h2>
<p>
  Entdecke die faszinierende Welt des Mars durch die Linse der NASA Marsrover. Unser Bildarchiv bietet dir die
  Möglichkeit, nach beeindruckenden Aufnahmen des Roten Planeten zu suchen und sie zu erkunden.
</p>
<h3>
  Mars rover
</h3>
<p>
  Ein Mars-Rover ist ein ferngesteuertes Fahrzeug (siehe Rover) für die Marsforschung, welches mit verschiedenen
  Messgeräten und Werkzeugen ausgestattet ist.
  Während der gesamten Zeit der Erforschung des Planeten Mars gab es vier Mars-Rover, die ihre Primärmission erfolgreich
  abschließen konnten. Derzeit sind die im August 2012 bzw. Februar 2021 von den USA gelandeten Rover Curiosity und
  Perseverance, sowie seit Mai 2021 der chinesische Rover Zhurong aktiv. Mars-Rover werden per Funk von der Erde aus
  gesteuert. Sie haben aber zum Teil auch autonome Fähigkeiten und senden ihre Messergebnisse an die Erde zurück.
</p>
<img class="roverimage" src="https://mars.nasa.gov/system/feature_items/images/6037_msl_banner.jpg">

</body>
