<div class="filter">
  <h2>Filter:</h2>
  <form [formGroup]="filterForm">
    <label>
      Opportunity Rover
      <input type="checkbox" id="opportunity" formControlName="opportunityRover" class="filter">
    </label> <br>
    <label>
      Curiosity Rover
      <input type="checkbox" id="curiosity" formControlName="curiosityRover" class="filter">
    </label> <br>
    <label>
      Spirit Rover
      <input type="checkbox" id="spirit" formControlName="spiritRover" class="filter">
    </label> <br>
    <label>
      Sol
      <input type="number" formControlName="solInput" >
    </label> <br>
    <div *ngIf="!filterForm.valid">
      pip
    </div>
  </form>
</div>




