<div class="filter">
  <h2>Filter:</h2>
  <div>
    <input type="checkbox" id="Rover 1"  checked class="checkbox"/>
    <label for="Rover 1" class="checkbox">Rover 1</label>
  </div>
  <div>
    <input type="checkbox" id="Rover 2"  checked class="checkbox"/>
    <label for="Rover 2" class="checkbox">Rover 2</label>
  </div>
  <div>
    <input type="checkbox" id="Rover 3"  checked class="checkbox"/>
    <label for="Rover 3" class="checkbox">Rover 3</label>
  </div>
  <div>
    <input type="checkbox" id="Rover 4"  checked class="checkbox"/>
    <label for="Rover 4" class="checkbox">Rover 4</label>
  </div>
  <div>
    <input type="checkbox" id="NewestDate"  checked class="checkbox"/>
    <label for="NewestDate" class="checkbox">newest date</label>
  </div>

  <app-sortierung></app-sortierung>
</div>

